.text-dark-blue {
    color: $color-dark-blue;
}
.text-light-blue {
    color: $color-light-blue;
}

.text-dark-gray {
    color: $color-dark-gray;
}
.text-light-gray {
    color: $color-light-gray;
}


.bg-dark-blue {
    background-color: $color-dark-blue;
}
.bg-light-blue {
    background-color: $color-light-blue;
}

.bg-dark-gray {
    background-color: $color-dark-gray;
}
.bg-light-gray {
    background-color: $color-light-gray;
}